body {
    background: linear-gradient(#525252, #3d72b4);
    background-repeat: cover;
    background-attachment: fixed;
}

h1, p, .box{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-shadow: 1px 1px #000000;
    text-align: center;
}

p {font-size: 1em;}

section::after {
    display: block;
    content: '';
    margin-top: 25px;
    border-bottom: 1px solid #ffffff;
}

.pagetitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagetitle > .box {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
}

.cssprop {
    display: inline-flex;
    padding: 15px;
    color: #ffd700;
    font-size: 1.4em;
}

.container {
    border: 2px solid #ffffff;
    display: flex;
}

.container1 {
    width: 28px;
    transition: width 1s;
    /*display: inline-flex; Instead of transition*/
}

.container1:hover {
    width: 100%;
    /*display: flex; Instead of transition*/
}

.container2 {flex-direction: row;}
.container2 .box {width: 16.66666%;}
.container2:hover {flex-direction: row-reverse;}

.container3 {flex-direction: column;}
.container3:hover {flex-direction: column-reverse;}

.container4 .box {width: 33.33333333333%;}
.container4:hover {flex-wrap: wrap;}

.container5 .box {flex: 0;}
.container5 .box:hover {flex: 1;}

.container6 {margin-bottom: 5px;}
.container6 .box {flex: 1;}
.container6 .box2 {flex: 2;}
.container6 .box3 {flex: 3;}

.container7 .box {flex: 1;}
.container7 .box1 {order: 0;}
.container7 .box2 {order: -3;}
.container7 .box3 {order: 2;}
.container7 .box4 {order: 1;}
.container7 .box5 {order: -2;}
.container7 .box6 {order: -1;}

.box1 {background-color: #ffd700;}
.box2 {background-color: #000000;}
.box3 {background-color: #800080;}
.box4 {background-color: #ff1800;}
.box5 {background-color: #ff20d6;}
.box6 {background-color: #ffa500;}
.box7 {background-color: #4169e1;}